*{
    box-sizing: border-box;
}
body{
    background-color: grey;
}
.container{
    background-color: rgb(31, 30, 30);
    color: white;
    width: 50%;
    margin: 40px auto;
    align-items: center;
    border: 4px solid rgb(31, 30, 30);
    border-radius: 9px;
    padding: 15px;

}
form{
    display: flex;
    flex-flow: row wrap;
    width: 95%;
    justify-content: space-between;
    
}
span{
    padding: 4px;
}


.form-group{
   
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    flex: 2 50%;
    padding: 4px;

    
}
.col-full{
    flex: 100%;
    width: 100%;
}
.btn{
    background-color: green;
    width: 90px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
p.label{
    margin: 5px 0;
}
div{
    margin: 8px auto;
}
input{
    background-color: rgb(31, 30, 30);
    border: 2px solid grey;
    color: white;
}